/* Stili Generali */
:root {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* DEBUG */
.blue-content {
    background-color: #006cfa;
    min-height: 100px;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffff;
}

.nested-container {
    width: 95%;
    margin: 0 auto;
}

.green-content {
    background-color: #00e165;
    min-height: 50px;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #006cfa;
}
