/* Stili Generali */
:root {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* DEBUG */

h2 {
    margin-top: 20px;
}

.blue-content {
    background-color: #006cfa;
    min-height: 100px;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffff;
}

.green-content {
    background-color: #00e165;
    min-height: 50px;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #006cfa;
}

.blue-row {
    background-color: #006cfa;
    min-height: 100px;
    color: #ffff;
    display: flex;
    justify-content: center;
    border: 1px solid #ffff;
    padding: 25px;
}

.vspace {
    margin-top: 30px;
}

.xl {
    background-color: #006cfa;
    min-height: 200px;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffff;
}

.middle {
    align-items: center;
}

.end {
    align-items: flex-end;
}

.around {
    background-color: #006cfa;
    min-height: 100px;
    color: #ffff;
    display: flex;
    justify-content: space-around;
    border: 1px solid #ffff;
    padding: 25px;
}

.between {
    background-color: #006cfa;
    min-height: 100px;
    color: #ffff;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ffff;
    padding: 25px;
}